@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Sora:wght@100;200;300;400;500;600;700&display=swap");

/*font-family: "Inter", sans-serif;
font-family: "Sora", sans-serif;*/

:root {
  --white-200: #eff8ff;
  --gray-light: #dbdbdb;
  --gray: #6e7275;
  --gray-200: #293145;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul li {
  list-style-type: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
